<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design Bootstrap</title>
	
</head>

<body>
  <div>
  	<nano-table width="600px" style="border: 1px solid black; position: relative; top: 150px; max-height: 500px; display: inline-block;" src="{{tablesrc}}"></nano-table>
	  
  </div>
	
  <script src="../js/nanotable.js"></script>
  
</html>
